input {
        width: 50px;
      }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img
{
  display: block;

  max-width: 50%;
  height: auto;
}
.container  {
background-color: #128099;
}

body  {
background-color: #000000;
}

.whiteArea {
background-color: #FFFFFF;  
}

.greyArea  {
background-color: #EEEEEE; 
}